// $font-family: 'Open Sans', 'Roboto', 'Lato', sans-serif;
$font-family: 'Roboto',
sans-serif;

$min-width: 800px;
$container-padding: 15px 30px;

$color-text-main: #44535f;
$content-bg-color: #ffffff; // #fafafa;
$border-color: rgb(205, 207, 223);
$light-color: rgba(170, 170, 170, 0.5);
$main-color-1: #F7F7FF; // #002538;
$main-color-2: #402E80; // #007CBB;
$main-color-3: #4635b1; // #007CBB;
$main-color-4: #4d5aa7; // #007CBB;
$hover-bg-color: rgba(5, 4, 4, 0.1);
$active-color: #fff;
$placeholder-color: #e2e2e2;

$filerobotCdnPrefix: 'https://cdn.scaleflex.it/filerobot';